<div class="container">
<% if @product_categories.errors.any? %>
    <ul>
        <% @product_categories.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <%end%>
    </ul>
<%end%>

<%= form_with model: @product_categories do |f| %>
<%= f.label :name, 'Nome: ' %>
<%= f.text_field :name %>
<%= f.label :code, 'Código: ' %>
<%= f.text_field :code %>
<%= f.submit 'Criar categoria', class: "btn btn-success" %>
<% end %>
</div>