<div class="container">
<h2><%= link_to 'Voltar', root_path, method: :get, class: "btn btn-info" %></h2>
<hr>
<% @promotions.each do |promotion| %>
    <h3><%= link_to promotion.name, promotion %></h3>
    <p><%= promotion.description %></p>
    <p><%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %></p>
<% end %>

<% if @promotions.empty? %>
<p> Nenhuma promoção cadastrada </p>
<% end %>

<h3> <%= link_to 'Registre uma nova promoção', new_promotion_path, class: "btn btn-primary" %> </h3>
<hr>
</div>
